<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <!--<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            
            <ul class="sidebar-nav">
                
                <img src="images/cs_logo1.png">
                <li><a href="#">BUDDY</a>
                </li>
                <li><a href="#">ADD NEW PET     (+) </a>  <!--Need to change the plus sign to inside a circle-->
                </li>

                <!--Sidebar bottom justification-->
                <div>
                    <li><a href="#">GIVE FEEDBACK</a>
                    </li>
                    <li><a href="#">ACCOUNT</a>  <!--Need to change the plus sign to inside a circle-->
                    </li>
                </div>

            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <!--<div class="content-header">
                    <a id="menu-toggle" href="#" class="btn btn-default"><i clas="icon-reorder"></i></a>
                    <center><img src="/template/images/photo.jpg"></center>
            </div>-->
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <a id="menu-toggle" href="#" class="btn btn-default">Menu<i class="icon-reorder"></i></a>
                <div class="row">
                    <div class="col-md-12">
                        <p class="snack">I've been good! Could I have a snack?     <img src="images/photo.jpg"></p>
                        <!--<button class="btn">lol</button>-->
                    </div>
                    <!--<div class="col-md-6">
                        <p class="well">The template still uses the default Bootstrap rows and columns.</p>
                    </div>-->
                </div>
                <div class="col-md-6">
            <div class="panel panel-good">
                <div class="panel-heading">
				
					<!--NEEDS TO BE ATTACHED TO THE DATABASE OF THE PET NAME NOT BUDDY -->
                    <h3 class="panel-title">BUDDY'S FEEDER</h3>
                    <span class="pull-right">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">SCHEDULES</a></li>
                            <li><a href="#tab2" data-toggle="tab">SETTINGS</a></li>
                        </ul>
                    </span>
                </div>
				
				<!--SOMEHOW NEED TO MAKE THE BODY TO THE SIZE OF THE ENTIRE PAGE-->
                <div class="panel-body">
                    <div class="tab-content">

                        <!--form input for schedules-->
                        <div class="tab-pane active" id="tab1">
                            <!--start the form class for input fields-->
							<section style="margin: 5px;">
							<fieldset style="min-height:150px;">
							<legend><b>PET INFO</b></legend>
							
								<!--NAME-->
								<form class="form-horizontal" role="form">
										<div class="form-group">
										<label for="name" class="col-sm-2 control-label">NAME</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="name">
											</div>
										</div>
								</form>
								<br>
								   
								   <!--TYPE-->
								   <form class="form-horizontal" role="form">
										<div class="form-group">
										<label for="type" class="col-sm-2 control-label">TYPE</label>
											<div class="col-sm-10">
												<select class="form-control">
													<option>Dog</option>
													<option>Cat</option>
													<option>Bird</option>
												</select>
											</div>
										</div>
									</form>
									<br>
									
									<!--BREED-->
									<form class="form-horizontal" role="form">
										<div class="form-group">
										<label for="type" class="col-sm-2 control-label">BREED</label>
											<div class="col-sm-10">
												<select class="form-control">
													<option>Pomeranian</option>
													<option>Beagle</option>
													<option>Maltese</option>
												</select>
											</div>
										</div>
									</form>
									<br>
									
									<!--GENDER-->
									<form class="form-horizontal" role="form">
										<div class="form-group">
										<label for="type" class="col-sm-2 control-label">GENDER</label>
											<div class="col-sm-10">
												<select class="form-control">
													<option>Male</option>
													<option>Female</option>
												</select>
											</div>
										</div>
									</form>
									<br>
									
									<!--AGE-->
									<form class="form-horizontal" role="form">
										<div class="form-group">
										<label for="type" class="col-sm-2 control-label">AGE</label>
											<div class="col-sm-10">
												<select class="form-control">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
													<option>8</option>
													<option>9</option>
													<option>10</option>
													<option>12</option>
													<option>13</option>
												</select>
											</div>
										</div>
									</form>
									<br>
									
									
									<!--WEIGHT-->
									<form class="form-horizontal" role="form">
										<div class="form-group">
										<label for="name" class="col-sm-2 control-label">WEIGHT</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="weight">
											</div>
										</div>
									</form>
									<br>
									
									<!--FOOD BRAND-->
									<form class="form-horizontal" role="form">
										<div class="form-group">
										<label for="type" class="col-sm-2 control-label">TYPE</label>
											<div class="col-sm-10">
												<select class="form-control">
													<option>GoodInc Food</option>
													<option>Innova Adult</option>
													<option>Petco Goodies</option>
												</select>
											</div>
										</div>
									</form>
									<br>
									
									<!--HEALTH-->
									<form class="form-horizontal" role="form">
										<div class="form-group">
										<label for="type" class="col-sm-2 control-label">TYPE</label>
											<div class="col-sm-10">
												<select class="form-control">
													<option>Overweight</option>
													<option>Healthy</option>
													<option>Underweight</option>
												</select>
											</div>
										</div>
									</form>
									<br>
									
							</fieldset>
							
							
							<section style="margin: 0px;">
							<fieldset style="min-height:150px;">
							<legend><b>GENERAL PREFERENCES</b></legend>
							<h3>WHEN DOES KONA EAT?<h3>
							
							
							<!--TIME1-->
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<div class="col-sm-2">
										<select class="form-control">
											<option>1:00</option>
											<option>2:00</option>
											<option>3:00</option>
											<option>4:00</option>
											<option>5:00</option>
											<option>6:00</option>
											<option>7:00</option>
											<option>8:00</option>
											<option>9:00</option>
											<option>10:00</option>
											<option>11:00</option>
											<option>12:00</option>
										</select>
									</div>
								</div>
							</form>
							<!--AM/PM-->
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<div class="col-sm-2">
										<select class="form-control">
											<option>AM</option>
											<option>PM</option>
										</select>
									</div>
								</div>
							</form>
							<br>
							
							<!--TIME2-->
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<div class="col-sm-2">
										<select class="form-control">
											<option>1:00</option>
											<option>2:00</option>
											<option>3:00</option>
											<option>4:00</option>
											<option>5:00</option>
											<option>6:00</option>
											<option>7:00</option>
											<option>8:00</option>
											<option>9:00</option>
											<option>10:00</option>
											<option>11:00</option>
											<option>12:00</option>
										</select>
									</div>
								</div>
							</form>
							<!--AM/PM-->
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<div class="col-sm-2">
										<select class="form-control">
											<option>AM</option>
											<option>PM</option>
										</select>
									</div>
								</div>
							</form>
							<br>
							

								
							</fieldset>
							
							<section style="margin: 0px;">
							<fieldset style="min-height:150px;">
							<legend><b>PET PORTRAIT</b></legend>
									<form action="/playground/ajax_upload" id="newHotnessForm">
										<label>Upload a Picture of Your Pet</label>
										<input type="file" size="20" id="imageUpload" class=" ">
										<button class="button" type="submit">Save</button>
									</form>
							</fieldset>
							
                        </div>

                        <!--form input for settings-->
                        <div class="tab-pane" id="tab2">
						

                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>

    </div>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
</body>

</html>
