@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: url("../img/main-background-bg.png");
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  font-family: 'Open Sans', sans-serif;
}

/*sidebar bottom justificaiton using div-id relationship*/
#sidebar-bottom {
  position: fixed; 
  bottom: 0;
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  bottom: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #ffffff;
  display: block;
  text-decoration: none;
  font-size: 22px;
}


.sidebar-nav li a:hover {
  /*color: #fff;*/
  background-color: rgba(0,0,102,0.23);
  text-decoration: none;
}

/*
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(0,0,51, 0.6);
    border-bottom-color: transparent;
}
*/


.sidebar-nav > li.active > a,
.sidebar-nav > li.active > a:hover,
.sidebar-nav > li.active > a:focus {
    color: #ffffff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(0,0,51, .60);
    border-bottom-color: transparent;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}

.snack {
    font-size: 31px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 0px;
    clear:both;
    border-bottom: 1px solid transparent;
    font-family: 'Open Sans', sans-serif;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #ffffff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .20);
    border-bottom-color: transparent;
}

/*End panel tab*/

.pet_info {
    font-family: 'Open Sans', sans-serif;
    background: #C0C0C0;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    width: 50%;
}

.gen_pref {
    font-family: 'Open Sans', sans-serif;
    background: #C0C0C0;
    padding: 15px;
    margin: 10px;
    display: inline-block;
}

.pet_portrait {
    font-family: 'Open Sans', sans-serif;
    background: #C0C0C0;
    padding: 15px;
    margin: 10px;
    display: inline-block;
}


fieldset {
    font-family: 'Open Sans', sans-serif;
    background: #C0C0C0;
    padding: 15px;
    margin: 10px;
}


.panel-notitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
  color: inherit;
  visibility: hidden;
}

.panel-notitle > a {
  color: inherit;
}



/*input fields*/

::-webkit-input-placeholder { 
    color:    #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
} 
 
::-moz-placeholder { 
    color:    #CCCCCC; 
} 
 
.input[type="text"], .input[type="email"], .input[type="password"], .input[type="number"], .input[type="file"], .input[type="time"], .input[type="search"] {
    background-color: #E0E0E0; 
    font-size: 1rem; 
    border-radius: 0px;
    border: 10px;
    padding: 13px 11px; 
    width: 100%;
    max-width: 480px;
    max-height: 200px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 ); 
    border-style: outset 10px 10px 10px 10px;
    margin-bottom: 25px;

} 

.input[type="text"]:focus, .input[type="email"]:focus, .input[type="password"]:focus, .input[type="number"]:focus, .input[type="file"]:focus, .input[type="time"]:focus, .input[type="search"]:focus { 
    background: #fff; 
    box-shadow: 0px 0px 0px 3px #969696, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 ); 
    outline: none;    
} 

.input[type=number] {
    -webkit-appearance: none;
}
   

/*select menu styling*/


.styled-select {
   width: 100%;
   max-width: 600px;
   height: 48px;

   overflow: hidden;
   background: url('../img/new_arrow.png') no-repeat right #ddd;
   }

.styled-select select {

   width: 100%;
   height: 48px;

   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   background: transparent;
   padding: 12px;
   font-size: 1rem;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   }


/*next and back buttons*/

.button {
   background: #1D3956;
   background: -moz-linear-gradient(top, #1D3956, #1D3956);
   padding: 7px 22px;
   color: white;
   font-size: 15px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #134d73;
   background: #134d73;
   color: #ccc;
   }
.button:active {
   border-top-color: #08324d;
   background: #08324d;
   }